
       body {
        background-color: #b3e9d7;
        text-align: center; 
        
    }

       h1{ 
        font-style: italic;
        font-family:fantasy;
    }
       h2{
        font-size: large
    }
       
