{% load static %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Entrar</header>
      
      {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}

      <form method="POST" action="login">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Digite seu email">
        <input type="password" name="password" placeholder="Digite sua senha">
        <input type="submit" class="button" value="Entrar">
      </form>
      <div class="signup">
        <span class="signup">Não tem uma conta?
         <label for="check">Cadastrar</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
