{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">

        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
        
            <div class="registration form">
                <header>Cadastrar</header>
                <form method="POST" action="register">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nome">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Senha">
                    <input type="password" name="password2" placeholder="Confirmar Senha">
                    <input type="submit" class="button" value="Cadastrar">
                </form>
                <div class="signup">
                    <span class="signup">Já tem uma conta?
                        <label for="check">Entrar</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>