{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech | Membros </title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'assets/member.jpeg' %}" alt="Imagem com varias pessoas felizes" class="logo">
    </header>
    <main>
        <h1>Area para membros</h1>
        <h1>Uma area de membros online para pessoas registradas</h1>

        <div class="logout-btn-container">
            <a href="http://localhost:8000/accounts/logout" class="logout-btn">Logout</a>
        </div>
    </main>
</body>
</html>

