<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logar</title>
    <link rel="stylesheet" href="../static/app.css">
<body>
    <main>
        <section id="container">
            <article>
                <form method="POST">
                    <h1>Logar</h1>
                    <div class="formularios">
                        <input type="text" placeholder="usuario"></input>
                    </div>
                    <div class="formularios">
                       <input type="text" placeholder="senha">
                    </div>
                    <div class="formularios">
                        <button class="botao" type="submit">Cadastrar</button>
                        <button class="botao" type="submit">Logar</button>
                    </div>
                </form>
            </article>
        </section>
    </main>
</body>
</html>