<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <main>
        <section id="container">
            <article>
                <form action="{{ url_for('registrar') }}" method="post">
                    <h1>Cadastrar</h1>
                    <input type="text" id="usuario" placeholder="Usuario">
                </div>
                <div class="formularios">
                    <input type="email" id="email" placeholder="Email">

                </div>
                <div class="formularios">
                    <input type="password" id="senha" placeholder="Senha">

                </div>
                <br>
                    <button class="botao" type="submit">Voltar</button>
                    <button class="botao" type="submit">Cadastrar</button>
                </form>
            </article>
        </section>
    </main>
</body>
</html>