<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>App de Login e Cadastro com Django</h1>
    <h3>Em construção....</h3>

    {% if request.session.username %}
        <p>Olá, {{ request.session.username }} :)</p>
        <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <p>Não há um usuario logado :/</p>
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'register' %}">Cadastrar</a>
    {% endif %}

</body>
</html>