{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Update Contact</h2>
    <a href="{% url 'contact_list' %}" class="btn btn-danger btn-sm">Back</a>
  </div>
  <form method="post" action="{% url 'contact_update' contact.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control form-control-sm" id="name" name="name" value="{{ contact.name }}" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control form-control-sm" id="email" name="email" value="{{ contact.email }}" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" class="form-control form-control-sm" id="phone" name="phone" value="{{ contact.phone }}" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Update</button>
  </form>
{% endblock %}
