<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css2.css">
</head>
<body>
    <header>
        <p>Menu hamburguer</p>
        <p>Perfil</p>
    </header>
    <main>
        <section>
            <div id="info">
                <div>
                    <h3>Saldo</h3>
                    <h2>R$ -----</h2>
                </div>
            <div>
                <h4>Entradas</h4>
                    <p>R$ -----</p>
                <h4>Saídas</h4>
                    <p>R$ -----</p>
            </div>
        </section>
        <div id="menu-historico">
            <div>
                <h3>Histórico</h3>
                <p>últimos 30 dias</p>
            </div>
            <div>
                <h5>Tudo v</h5>
            </div>
        </div>
        <div id="transacoes">
            <div>
                <div>
                    <h3>Shopping</h3>
                    <p class="textop-transacao">Crédito</p>
                </div>
                <div>
                    <h2>R$: -----</h2>
                    <p class="textop-transacao">xx/xx/xxxx - xx:xx</p>
                </div>                
            </div>
        </div>
        <div id="transacoes">
            <div>
                <div>
                    <h3>Internet</h3>
                    <p class="textop-transacao">Débito</p>
                </div>
                <div>
                    <h2>R$: -----</h2>
                    <p class="textop-transacao">xx/xx/xxxx - xx:xx</p>
                </div>                
            </div>
        </div>
    </main>
</body>
</html>
