
:root {
    --cor1: #6471B2;
    --cor2: #726F6F;
    --cor3: #F4F4F4;
    --cor4: #84E8AC;
    --cor5: #E88484;
}

body {
    margin: 0px;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #6471B2;
    height: 70px;
    width: 100vw;
}

section {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #6471B2;
    font-size: 2em;
    text-align: justify;
}

h5 {
    color: #726F6F;
}

div {
    justify-content: center;
    align-items: center;
}

input {
    width: 225px;
    padding: 10px;
    border: 0.3px solid rgba(0, 0, 0, 0.226);
    border-radius: 7px;
}

#esquecisenha {
    text-align: right;
}

#botao {
    text-align: center;
}

button {
    align-items: center;
    width: 190px;
    color: white;
    background-color: #6471B2;
    padding: 10px;
    border: none;
    border-radius: 7px;
}