<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagens</title>
    <link rel="stylesheet" href="../static/app.css">
<body>
    <main>
        <section id="container-msgs">
            <div id="caixa">
                <form id="form-msgs">
                    <h1>Notas</h1>
                    <p>Olá, {{ usuario['nome'] }}</p>
                    <p>
                        <a href="#">Logar</a>
                        <a href="#">Cadastrar</a>
                        <a href="#">Adicionar Nota</a>
                    </p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>