<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>
    <main>
        <section>
                <div>
                    <h1>Entrar na Conta</h1>
                    <h5>Insira suas informações para continuar</h5>
                </div>
                <div>
                    <p>
                        <input type="text" placeholder="Email">
                    </p>
                    <p>
                        <input type="text" placeholder="Senha">
                    </p>
                    <p id="esquecisenha">
                        <a href="blabla" Esqueceu a senha?>Esqueceu a senha?</a>
                    </p>
                    <p id="botao">
                        <button>Entrar</button>
                    </p>
                    
                </div> 
                <p>Náo possui uma conta?
                    <a href="www.esqueciaminhasenha.com">Cadastrar</a></p>
        </section>
    </main>
</body>
</html>