* {
    margin: 0px;
    height: 100%; 
    border-radius: 15px;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

main {
    background-color: #3d3d3d;
    height: 450px;
    width: 350px;

}

#visor {
    background-color: #0a0a0a;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    margin: 4px;
    height: 80px;
}


#botoes {
    display: flex;
    margin: 4px;
    width: 340px;
    height: 356px;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

.botao {
    background-color: #0a0a0a;
    color: white;
    border: 1px solid black;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    align-items: center;
    margin: 2px;
    height: 68px;
    width: 81px;
}

.botao:hover {
    background-color: #1d1d1d;
}

#igual {
    width: 166px;
}