<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../static/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <section>
                <div>
                    <h1 class="titulo">Entrar na Conta</h1>
                    <h5>Insira suas informações para continuar</h5>
                </div>
                <div>
                    <p>
                        <input class="caixa" type="text" placeholder="Email">
                    </p>
                    <p>
                        <input class="caixa" type="text" placeholder="Senha">
                    </p>
                    <p id="esquecisenha">
                        <a href="#" Esqueceu a senha?>Esqueceu a senha?</a>
                    </p>
                    <p id="botao">
                        <button>Entrar</button>
                    </p>
                    <p>Náo possui uma conta?<a href="#">Cadastrar</a></p>
                </div> 
                
        </section>
    </main>
</body>
</html>
