:root {
    --cor-janela:#111;
    --cor-fundo:black;
    --cor-texto: white;
    --cor-fundotexto: #060606;
}

body {
    margin: 0px;
    background-color: var(--cor-fundo);
}    

nav {
    background: var(--cor-janela);
    height: 48px;
}

header {
    padding: 10px 0px 10px 0px;
}

h5 {
    color: white;
}

a {
    margin-left: 6px;
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid white;
    transition-duration: .1s;
    padding-bottom: 4px;
}


.btn .btn-primary {
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border: none;
}

.navbar-brand {
    color: var(--cor-texto);
}


.principal {
    display: flex;
    justify-content: center;
}

.principal .container, .container-fluid {
    max-width: 702px;
}

.principal .container .container {
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    background: var(--cor-janela);
    color: var(--cor-texto);
}

.form-control {
    background: var(--cor-janela);
    border: 1px solid #515151;
}


.notaa {
    padding: 16px;
    background-color: var(--cor-fundotexto);
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 14px;
}

.caixa-texto {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
}

.caixa-texto:focus {
    outline: none;
}


.input-titulo::placeholder,
.input-nota::placeholder {
    color: #888;  
}