{% extends 'base.html' %}
{% block conteudo %}

<div class="container">
    <h3>Lista de Livros</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>titulo</th>
            <th>autor</th>
            <th>ano</th>
        </tr>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.id_livro }}</td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.ano }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}