<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>
    <main>
        <section>
                <div>
                    <h1 class="titulo">Cadastrar Conta</h1>
                    <h5>Insira suas informações para criar a sua conta</h5>
                </div>
                <div>
                    <p>
                        <input class="caixa" type="text" placeholder="Nome">
                    </p>
                    <p>
                        <input class="caixa" type="text" placeholder="Email">
                    </p>
                    <p>
                        <input class="caixa" type="text" placeholder="Senha">
                    </p>
                    <p>
                        <input class="caixa" type="text" placeholder="Confirmar Senha">
                    </p>
                </div> 
                    <p id="botao">
                        <button>Cadastrar</button>
                    </p>
                    <p>Ja tem uma conta?
                        <a href="#">Entrar</a>
                    </p>
                </div> 
        </section>
    </main>
</body>
</html>
