@import url("/usr/share/fonts/roboto/stylesheet.css");

* {
    font-family: 'iFood RC Textos', sans-serif;
}

body {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #f7f9fb;
}

.navbar-brand {
    margin-right: 20px;
}

.headerProfile {
    display: flex;
    align-items: baseline;
    color: white;    
    font-weight: bold;       
}

a {
    color: white;
    text-decoration: none;
}

button {
    height: 45px; 
    max-width: 200px; 
    width: 100%; 
    border: none; 
    outline: none; 
    color: #fff; 
    background-color: #EA1D2C; 
    border-radius: 5px; 
    margin: 25px 0;
    font-weight: bold;
    font-size: large;
}

button:hover {
    background-color: #EE4C58;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}